div{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    display: inline-block;
}

#box1{
    background-image: url("HNY.jpg");
    background-size: cover;
    /* height: 70px; */
    /* width: 150; */
}